@model List<Programa>

<div class="d-flex flex-column">
    
    <div class="text-center mt-5">
        <h1 class="display-5">Atualizador Genérico</h1>
    </div>


    @* <div class="d-flex flex-column p-2 bg-dark gap-2">
        <input class="form-group w-100 bg-light" type="text" id="txtBusca" placeholder="Encontrar Programas" />
     </div> *@
     @ViewBag.Title
    <div class="container mt-5">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>Nome do Programa</th>
                    <th>Identificador</th>
                    <th>Versão Atual</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var programa in Model)
                {
                    <tr class="text-center">
                        <td class="text-start">@programa.AppName</td>
                        <td>@programa.AppKeyName</td>
                        <td>@programa.Version</td>
                        <td>
                            <a href="@Url.Action("Atualizar", "Home", new { AppKeyName = programa.AppKeyName })" class="btn btn-info">Atualizar</a>
                            <a href="~/Download/@programa.AppKeyName" class="btn btn-success">Baixar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>